body {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#result-img {
    width: 280px;
    max-width: 80%;
    margin-bottom: 15px;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
}

#winner {
    font-size: 1.8rem;
    margin: 10px 0 20px 0;
}

button {
    padding: 12px 22px;
    background: #153e6e;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    color: white;
}

button:hover {
    background: #3c74bf;
    transform: scale(1.05);
}
